# Firebase Configuration
FIREBASE_PROJECT_ID=your-project-id
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxx@your-project.iam.gserviceaccount.com

# API Configuration
DEBUG=True
ALLOWED_ORIGINS=["http://localhost:3000","http://localhost:8000"]

# WebSocket
YJS_SERVER_URL=ws://localhost:1234